* {
	font-family: 'Roboto Slab', serif;
}

.background {
	background: url('./media/landing.png') no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	margin-top: -1px;
	padding-top: 1px;
}

.welcome-box {
	width: 80%;
	margin: 23vh auto;
	text-align: center;
	background: white;
	padding: 1px 30px 20px 30px;
	border: 1px solid #e57373;
	border-radius: 20px;
	opacity: 0.9;
}

.navbar-colors {
	background: #e57373 !important;
	color: white;
}

.btn {
	background: rgb(0, 119, 255);
	color: white !important;
	font-size: 14px !important;
	height: 38px;
	padding: 0 20px;
	margin: 0 5px;
}

.fixed-add-btn {
	clear: both;
	background: #ff4545;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	text-align: center;
	line-height: 50px;
	margin: 20px;
	box-shadow: black;
}

.fixed-add-btn:hover {
	background: #e43030;
	color: white;
}

.red-text {
	color: red !important;
	font-weight: 500;
}

.nav-brand {
	text-decoration: none !important;
	color: white;
}

.nav-brand:hover {
	color: lightgray;
}

.survey-title {
	font-size: 16px;
}
.survey-subtitle {
	font-size: 14px;
}
.survey-sent {
	font-size: 12px;
}
.survey-bar {
	font-size: 10px;
}


@media (max-width: 980px) {
	.survey-title {
		font-size: 14px;
	}
	.survey-subtitle {
		font-size: 12px;
	}
	.survey-sent {
		font-size: 10px;
	}
	.survey-bar {
		font-size: 8px;
	}
	.dashboard-text {
		font-size: 12px;
	}
	p {
		font-size: 12px;
	}
	.red-text {
		font-size: 10px !important;
		color: red !important;
	}
}
